@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = @Warhammer.Application.Resources.Identity.AccessDenied;
}

<div class="card-body p-4">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@Warhammer.Application.Resources.Identity.YouDoNotHaveAccessToThisResource</p>
</div>
