@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = @Warhammer.Application.Resources.Identity.ForgotPasswordConfirmation;
}

<div class="card-body p-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        @Warhammer.Application.Resources.Identity.CheckEmailToResetPassword
    </p>
</div>
