@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = @Warhammer.Application.Resources.Identity.ResetPasswordConfirmation;
}


<div class="card-body p-4">
    <h2>@ViewData["Title"]</h2>
    <p>
        @Warhammer.Application.Resources.Identity.YourPasswordHasBeenReset. <a asp-action="Login">@Warhammer.Application.Resources.Identity.ClickHereToLogIn</a>.
    </p>
</div>
