<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong style="line-height: 2.5em; font-size: 14px">NIEUWS</strong>
                </div>
                <div class="card-body">

                    <div class="card">
                        <div class="card-header">
                            <strong>Basement Brawl - Nephilim</strong>
                            <i class="pull-right">24-06-2022</i>
                        </div>
                        <div class="card-body">
                            <div>
                                <p>
                                    Hey all,
                                    New GT mission pack, new Balance Dataslate, new point values… time for a new Basement Brawl as well!
                                    We'll be running a new 1000pts 40k tournament on July 30th in the Dobbelsteen basement. As it currently stands we'll be able to support 12 players on 6 tables. Do note that the entry fee will be €10,-. The additional money will go towards prize support and building up tournament scenery and playing mats.
                                    The rulespack is a work in progress, we're currently updating to incorporate the Nephilim GT Mission Pack. If you'd like to enter, either app me (Thomas) your emailadress or send an email to dedobbelsteendivisie@gmail.com.
                                    Any additional communication concerning the Basement Brawl will go through the Dobbelsteen 40k whatsapp chat group.
                                    Hope to see lots of you there!
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <strong>Aankomend toernooi - Basement Brawl</strong>
                            <i class="pull-right">15-04-2022</i>
                        </div>
                        <div class="card-body">
                            <div>
                                <p> Welcome to the first De Dobbelsteen 40k Event in ages!!</p>
                                The time has finally come to face off against each other in a 1000 points Warhammer 40k event! The focus of this event will be to have fun. We hope to create an environment where many people can have a good first tournament experience. Please refrain from any Win At All Cost (WAAC) playstyles. We recommend to play with intent and be lenient to your opponent with regards to mistakes. Overall we hope that every attendant can enjoy a nice day of 40k!
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong>Nieuwe website voor de Dobbelsteen 40k spelersgroep!</strong>
                            <i class="pull-right">14-06-2021</i>
                        </div>
                        <div class="card-body">
                            <p>Hoi en welkom op de site van De Dobbelsteen | 40k spelersgroep</p>

                            <p>Deze site is gemaakt voor het bijhouden van de matches en player-ranks van de spelers van De Dobbelsteen.</p>
                            <p>
                                - Wil je meedoen? Dan doen je je eerst te registreren. Klik hiervoor rechtsboven op de avatar op deze pagina.
                                Na email-confirmatie van je account dient je account nog geaccepteerd te worden door een admin alvorens je spelersnaam opgenomen wordt onder <b>Spelers</b>
                            </p>

                            <p>
                                - Na acceptatie kan je beginnen met het uploaden van match-resultaten. Matches kunnen alleen aangemaakt worden tussen spelers die beiden hier een account hebben.
                                Na het upload proces staat de match op "Pending". Deze dient dan door de tegenstander of een admin geconfirmeerd te worden. Dit kan onder <b>Matches</b>.
                                Pas na confirmatie zullen de nieuwe ranks berekend worden.
                            </p>

                            <p>Veel plezier! Heb je vragen of opmerkingen, stel ze gerust in de Whatsapp groep</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>